<ion-view title="addGrupo" id="page14">
    
    <ion-content padding="true" class="has-header">

        <label class="item item-input ">
            <span class="input-label icon ion-person-stalker"></span>
            <input type="text" placeholder="Group Name">
        </label>
        
        <label class="item item-input">
            <span class="input-label icon ion-ios-calendar"></span>
            <!-- <span class="input-label">Date</span>
            <input type="date"> -->
            <input type="date" placeholder="Date">
        </label>  

        <label class="item item-input">
            <span class="input-label icon ion-ios-email"></span>
            <input type="text" placeholder="Message">
        </label>

    </ion-content>
   
    <div class="bar bar-footer bar-stable">
        <button ui-sref="grupos" class="button icon-left ion-chevron-left"></button>

        <button ui-sref="selectAmigos" class="button pull-right icon-right ion-chevron-right"></button>
        
        

        <!--class="button button-clear icon add-button"-->
    </div>
   

</ion-view>