<ion-view title="Cronometro" id="page19">
    <!-- <ion-content padding="true" class="has-header">
      <button class="button button-clear icon ion-android-volume-off"></button>
      <button class="button button-clear icon ion-android-microphone"></button>
    </ion-content> --> 

  <!-- <body ng-app="timerApp" ng-controller="timerCtrl"> -->

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <div id="myTimer">{{myHours}}:{{myMinutes}}:{{mySeconds}}:{{myTimer}}
        <br><button ng-click="start()" class="button button-clear icon ion-play"></button><br>
        <button ng-click="stop()" class="button button-clear icon ion-pause"></button><br>
        {{resetButton}}<button ng-click="reset()" class="button button-clear icon ion-stop"></button><br>
        <button ng-click="reset()" class="button button-clear icon ion-android-microphone"></button><br>
        </div>
        
        
        <!-- <div ng-app="myTimer" ng-controller="customersCtrl">
          {{Kms}} km
        </div>
         -->      

      </ion-content>
    </ion-pane>
  <!-- </body>  -->

</ion-view>