<ion-view title="Historial actividades" id="page12">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="resumenActividad">Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item>Item 3</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <button id="historialActividades-button11" style="border-radius:105px 105px 105px 105px;" class="button button-light button-large icon ion-android-add-circle"></button>
    </ion-content>
</ion-view>