<ion-view title="Profile" id="page10">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="profile-markdown1" style="color:#000000;">
            <p>
                <strong>User</strong>:</p>

            <p>
                <strong>Población</strong>:</p>

            <p>
                <strong>Sexo</strong>:</p>

            <p>
                <strong>Estado</strong>:</p>
        </div>
        <a ui-sref="resumenActividad" id="profile-button8" class="button button-stable  button-block">Ultimas actividades</a>
    </ion-content>
</ion-view>