<ion-view title="RunTogether" id="page7">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/yE4RhCmuSFSOhQUE3owX_hombrescoriendo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="login" id="runTogether-button6" class="button button-dark  button-block">Login</a>
        <a ui-sref="register" id="runTogether-button7" class="button button-dark  button-block">Register</a>
    </ion-content>
</ion-view>